@page "/fillbasic"

<div style="position:relative;">

	<div style="position:absolute;left: 110px;top: 112px;width: 156px;height: 25px;color: rgba(16, 16, 16, 100);font-size: 26px;text-align: left;font-family: PingFangSC-regular;">填写基本信息</div>
	<div style="position:absolute;left: 118px;top: 144px;width: 140px;height: 20px;color: rgba(206, 206, 206, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">向同事介绍一下自己</div>
	<div style="position:absolute;left: 150px;top: 176px;width: 70px;height: 70px;line-height: 20px;background-color: rgba(249, 249, 249, 100);color: rgba(16, 16, 16, 100);font-size: 14px;text-align: center;font-family: Arial;"></div>
	<div style="position:absolute;left: 160px;top: 256px;width: 56px;height: 20px;color: rgba(206, 206, 206, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">上传头像</div>
	<div style="position:absolute;left: 140px;top: 288px;width: 28px;height: 20px;color: rgba(206, 206, 206, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">女生</div>
	<input type="radio" style="position:absolute;left: 118px;top: 291px;width: 15px;height: 15px;background-color: rgba(206, 206, 206, 100);" />
	
	<div style="position:absolute;left: 241px;top: 288px;width: 28px;height: 20px;color: rgba(204, 190, 151, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">男生</div>
	<input type="radio" checked="checked" style="position:absolute;left: 223px;top: 291px;width: 15px;height: 15px;background-color: rgba(204, 190, 151, 100);" />
	<hr style="position:absolute; left: 29px;top: 326px;width: 319px;height: NaNpx;border: 1px solid rgba(234, 234, 234, 100);"/>
	<div style="position:absolute;left: 29px;top: 349px;width: 28px;height: 20px;color: rgba(16, 16, 16, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">昵称</div>
	<input style="position:absolute;left: 29px;top: 389px;width: 319px;height: 22px;color: rgba(206, 206, 206, 100);font-size: 16px;text-align: left;font-family: PingFangSC-regular;border:none;border-bottom:5px solid rgba(242, 242, 242, 100);" placeholder="请填写昵称" />
	<div style="position:absolute;left: 29px;top: 429px;width: 28px;height: 20px;color: rgba(16, 16, 16, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">部门</div>
	<input style="position:absolute;left: 29px;top: 469px;width: 319px;height: 22px;color: rgba(206, 206, 206, 100);font-size: 16px;text-align: left;font-family: PingFangSC-regular;border:none;border-bottom:5px solid rgba(242, 242, 242, 100);" placeholder="请填写部门" />
	<div style="position:absolute;left: 38px;top: 636px;width: 300px;height: 42px;line-height: 23px;border-radius: 20px;background-color: rgba(242, 242, 242, 100);color: rgba(206, 206, 206, 100);font-size: 16px;text-align: center;font-family: Arial;">下一步</div>
</div>
@code {

}
