@page "/lesson"

<div style="position:relative;">

	<div style="position:absolute;left: 15px;top: 58px;width: 36px;height: 25px;color: rgba(16, 16, 16, 100);font-size: 18px;text-align: left;font-family: PingFangSC-regular;">课程</div>
	<svg style="position:absolute;left: 336px;top: 58px;width: 24px;height: 24px;color: rgba(16, 16, 16, 100);" t="1636377103903" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2986" width="200" height="200"><path d="M945.066667 898.133333l-189.866667-189.866666c55.466667-64 87.466667-149.333333 87.466667-241.066667 0-204.8-168.533333-373.333333-373.333334-373.333333S96 264.533333 96 469.333333 264.533333 842.666667 469.333333 842.666667c91.733333 0 174.933333-34.133333 241.066667-87.466667l189.866667 189.866667c6.4 6.4 14.933333 8.533333 23.466666 8.533333s17.066667-2.133333 23.466667-8.533333c8.533333-12.8 8.533333-34.133333-2.133333-46.933334zM469.333333 778.666667C298.666667 778.666667 160 640 160 469.333333S298.666667 160 469.333333 160 778.666667 298.666667 778.666667 469.333333 640 778.666667 469.333333 778.666667z" p-id="2987"></path></svg>
	<div style="position:absolute;left: 68px;top: 112px;width: 64px;height: 22px;color: rgba(204, 190, 151, 100);font-size: 16px;text-align: left;font-family: PingFangSC-regular;">线上课程</div>
	<div style="position:absolute;left: 250px;top: 112px;width: 48px;height: 22px;color: rgba(206, 206, 206, 100);font-size: 16px;text-align: left;font-family: PingFangSC-regular;">线下课</div>
	<div style="position:absolute;left: 15px;top: 154px;width: 346px;height: 124px;line-height: 20px;opacity: 0.5;border-radius: 10px;background-color: rgba(51, 51, 51, 100);text-align: center;border: 1px solid rgba(255, 0, 0, 0);">banner展示</div>
	<div style="position:absolute;left: 15px;top: 320px;width: 346px;height: 120px;line-height: 20px;border-radius: 10px 10px 10px 10px;background-color: rgba(255, 255, 255, 100);text-align: center;box-shadow: 0px 2px 1px 0px rgba(184, 184, 184, 30);border: 1px solid rgba(249, 251, 252, 55);"></div>

	<div style="position:absolute;left: 123px;top: 336px;width: 123px;height: 22px;color: rgba(16, 16, 16, 100);font-size: 16px;text-align: left;font-family: PingFangSC-regular;">艾柯夫采煤机</div>
	<div style="position:absolute;left: 121px;top: 364px;width: 38px;height: 20px;color: rgba(87, 88, 88, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">x老师</div>
	<div style="position:absolute;left: 162px;top: 366px;width: 96px;height: 17px;color: rgba(206, 206, 206, 100);font-size: 12px;text-align: left;font-family: PingFangSC-regular;">采煤机培训负责人</div>

	<div style="position:absolute;left: 0px;top: 719px;width: 375px;height: 59px;line-height: 20px;background-color: rgba(255, 255, 255, 100);text-align: center;box-shadow: 0px -1px 1px 1px rgba(231, 231, 231, 100);border: 1px solid rgba(255, 0, 0, 0);"></div>
	@*<div style="position:absolute;left: 37px;top: 752px;width: 28px;height: 20px;color: rgba(204, 190, 151, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">首页</div>
	<div style="position:absolute;left: 127px;top: 749px;width: 28px;height: 20px;color: rgba(151, 151, 151, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">课程</div>
	<div style="position:absolute;left: 213px;top: 751px;width: 28px;height: 20px;color: rgba(151, 151, 151, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">圈子</div>
	<div style="position:absolute;left: 307px;top: 751px;width: 14px;height: 20px;color: rgba(151, 151, 151, 100);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">我</div>*@
	<Menu></Menu>
</div>

@code {

}
